<a href="https://colab.research.google.com/github/CODERdeeps/MLCDAC/blob/main/m1dataanalystics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
df = pd.read_csv('/content/train_XnW6LSF.csv')

In [37]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [39]:
df['Item_Type'].describe()

count                      8523
unique                       16
top       Fruits and Vegetables
freq                       1232
Name: Item_Type, dtype: object

In [40]:
df['Outlet_Location_Type'].describe()

count       8523
unique         3
top       Tier 3
freq        3350
Name: Outlet_Location_Type, dtype: object

In [47]:
item_stats = df.groupby('Item_Type').describe()
print(item_stats)

# B. Records of every Outlet_Location_Type
location_stats = df.groupby('Outlet_Location_Type').describe()
print(location_stats)

                      Item_Weight                                        \
                            count       mean       std    min       25%
Item_Type
Baking Goods                536.0  12.277108  4.773622  4.880   8.23500
Breads                      204.0  11.346936  4.440540  4.635   7.12875
Breakfast                    89.0  12.768202  5.038131  6.425   8.06000
Canned                      539.0  12.305705  4.586564  4.615   8.11500
Dairy                       566.0  13.426069  4.686532  4.805   9.27750
Frozen Foods                718.0  12.867061  4.507383  4.555   8.93500
Fruits and Vegetables      1019.0  13.224769  4.575275  5.460   9.19500
Hard Drinks                 183.0  11.400328  4.239144  4.610   8.26000
Health and Hygiene          430.0  13.142314  4.512313  5.175   9.69500
Household                   759.0  13.384736  4.998845  5.030   8.69500
Meat                        337.0  12.817344  4.670812  5.150   9.30000
Others                      137.0  13.853285  4.225534  5.500  10.65000
Seafood                      51.0  12.552843  5.473830  5.365   7.42000
Snack Foods                 988.0  12.987880  4.531256  5.095   9.19500
Soft Drinks                 374.0  11.847460  4.403699  4.590   8.26000
Starchy Foods               130.0  13.690731  4.010061  6.695  11.50000

                                            Item_Visibility            ...  \
                          50%    75%    max           count      mean  ...
Item_Type                                                              ...
Baking Goods           11.650  15.75  20.85           648.0  0.069169  ...
Breads                 10.600  14.85  20.85           251.0  0.066255  ...
Breakfast              10.695  17.25  21.10           110.0  0.085723  ...
Canned                 12.150  16.25  21.35           649.0  0.068129  ...
Dairy                  13.350  17.60  20.70           682.0  0.072427  ...
Frozen Foods           12.850  17.00  20.85           856.0  0.065645  ...
Fruits and Vegetables  13.100  17.10  21.35          1232.0  0.068513  ...
Hard Drinks            10.100  14.85  19.70           214.0  0.064943  ...
Health and Hygiene     12.150  17.60  21.25           520.0  0.055216  ...
Household              13.150  18.35  21.25           910.0  0.061322  ...
Meat                   12.350  17.20  21.25           425.0  0.062284  ...
Others                 14.500  17.75  20.50           169.0  0.060241  ...
Seafood                11.650  17.75  20.75            64.0  0.074976  ...
Snack Foods            13.150  16.85  21.25          1200.0  0.066850  ...
Soft Drinks            11.800  15.35  20.75           445.0  0.063972  ...
Starchy Foods          13.175  16.70  21.20           148.0  0.067564  ...

                      Outlet_Establishment_Year         Item_Outlet_Sales  \
                                            75%     max             count
Item_Type
Baking Goods                             2004.0  2009.0             648.0
Breads                                   2004.0  2009.0             251.0
Breakfast                                2004.0  2009.0             110.0
Canned                                   2004.0  2009.0             649.0
Dairy                                    2004.0  2009.0             682.0
Frozen Foods                             2004.0  2009.0             856.0
Fruits and Vegetables                    2004.0  2009.0            1232.0
Hard Drinks                              2004.0  2009.0             214.0
Health and Hygiene                       2004.0  2009.0             520.0
Household                                2004.0  2009.0             910.0
Meat                                     2004.0  2009.0             425.0
Others                                   2004.0  2009.0             169.0
Seafood                                  2004.0  2009.0              64.0
Snack Foods                              2004.0  2009.0            1200.0
Soft Drinks                              2004.0  2009.0             445.0
Starchy Foods                            2004.0  2009.0             148.0

                                                                      \
                              mean          std       min        25%
Item_Type
Baking Goods           1952.971207  1546.788045   37.2848  705.08220
Breads                 2204.132226  1644.235914   35.2874  968.73900
Breakfast              2111.808651  1911.693586   39.9480  679.11600
Canned                 2225.194904  1645.235638   37.9506  952.09400
Dairy                  2232.542597  1884.404698   40.6138  788.97300
Frozen Foods           2132.867744  1724.777720   36.6190  808.94700
Fruits and Vegetables  2289.009592  1799.503459   45.2744  884.84820
Hard Drinks            2139.221622  1606.191587   37.9506  834.91320
Health and Hygiene     2010.000265  1553.633063   34.6216  758.84555
Household              2258.784300  1692.245757   33.2900  853.38915
Meat                   2158.977911  1695.231081   47.9376  782.98080
Others                 1926.139702  1431.860471   39.9480  790.97040
Seafood                2326.065928  1842.988719  149.8050  473.38380
Snack Foods            2277.321739  1705.121755   33.9558  918.80400
Soft Drinks            2006.511735  1674.249752   33.2900  771.66220
Starchy Foods          2374.332773  1773.945328   58.5904  958.75200


                             50%         75%         max
Item_Type
Baking Goods           1577.9460  2823.82425   7931.6754
Breads                 1860.2452  3145.90500   8958.3390
Breakfast              1554.6430  2970.30025   8209.3140
Canned                 1860.2452  3101.29640  10306.5840
Dairy                  1650.8511  3296.20935  10256.6490
Frozen Foods           1687.1372  3079.49145   9678.0688
Fruits and Vegetables  1830.9500  3227.13260  12117.5600
Hard Drinks            1816.6353  3071.33540   7843.1240
Health and Hygiene     1669.4935  2884.57850   9779.9362
Household              1981.4208  3236.78670  13086.9648
Meat                   1829.6184  3036.04800   9390.4432
Others                 1713.7692  2719.79300   6008.8450
Seafood                2055.3246  3589.32780   6503.5344
Snack Foods            1944.1360  3143.57470  10993.6896
Soft Drinks            1518.0240  2759.07520   9554.2300
Starchy Foods          1968.1048  3592.65680   8132.0812

[16 rows x 40 columns]
                     Item_Weight                                               \
                           count       mean       std    min      25%     50%
Outlet_Location_Type
Tier 1                    1860.0  12.892124  4.666734  4.555  8.77375  12.625
Tier 2                    2785.0  12.768628  4.607141  4.555  8.75000  12.500
Tier 3                    2415.0  12.933745  4.667359  4.555  8.82000  12.650

                                   Item_Visibility            ...  \
                        75%    max           count      mean  ...
Outlet_Location_Type                                          ...
Tier 1                17.00  21.35          2388.0  0.071205  ...
Tier 2                16.75  21.35          2785.0  0.061038  ...
Tier 3                17.00  21.35          3350.0  0.066751  ...

                     Outlet_Establishment_Year         Item_Outlet_Sales  \
                                           75%     max             count
Outlet_Location_Type
Tier 1                                  1999.0  1999.0            2388.0
Tier 2                                  2007.0  2007.0            2785.0
Tier 3                                  2009.0  2009.0            3350.0

                                                                     \
                             mean          std      min         25%
Outlet_Location_Type
Tier 1                1876.909159  1561.649293  33.9558   593.72715
Tier 2                2323.990559  1520.543543  99.8700  1171.80800
Tier 3                2279.627651  1912.451333  33.2900   731.38130


                            50%        75%         max
Outlet_Location_Type
Tier 1                1487.3972  2803.0180   9779.9362
Tier 2                2004.0580  3110.6176   9664.7528
Tier 3                1812.3076  3307.6944  13086.9648

[3 rows x 40 columns]

In [48]:
# Filter data for dairy products
dairy_data = df[df['Item_Type'] == 'Dairy']

# Group by Outlet_Location_Type and calculate statistics
location_stats = dairy_data.groupby('Outlet_Location_Type').describe()
print(location_stats)

                     Item_Weight                                        \
                           count       mean       std    min       25%
Outlet_Location_Type
Tier 1                     156.0  13.655929  4.602064  4.805  10.30000
Tier 2                     214.0  13.179369  4.621294  4.805   8.94500
Tier 3                     196.0  13.512474  4.833137  4.805   9.18875

                                          Item_Visibility            ...  \
                         50%    75%   max           count      mean  ...
Outlet_Location_Type                                                 ...
Tier 1                13.550  17.75  20.7           205.0  0.079202  ...
Tier 2                13.100  17.25  20.7           214.0  0.063705  ...
Tier 3                13.725  17.75  20.7           263.0  0.074243  ...

                     Outlet_Establishment_Year         Item_Outlet_Sales  \
                                           75%     max             count
Outlet_Location_Type
Tier 1                                  1999.0  1999.0             205.0
Tier 2                                  2007.0  2007.0             214.0
Tier 3                                  2009.0  2009.0             263.0

                                                                     \
                             mean          std       min        25%
Outlet_Location_Type
Tier 1                1809.322867  1550.040020   40.6138   578.5802
Tier 2                2456.416209  1834.315342  181.0976  1133.8574
Tier 3                2380.265379  2102.539061   47.2718   783.9795


                            50%        75%         max
Outlet_Location_Type
Tier 1                1338.2580  3020.7346   7833.8028
Tier 2                1960.7810  3444.1834   9664.7528
Tier 3                1791.6678  3458.4981  10256.6490

[3 rows x 40 columns]

In [50]:
# Calculate minimum establishment year for each outlet
outlet_ages = df.groupby('Outlet_Identifier')['Outlet_Establishment_Year'].min()

# Sort outlets based on their age of establishment
oldest_outlets = outlet_ages.sort_values()

# Display the oldest outlets
print(oldest_outlets)

Outlet_Identifier
OUT019    1985
OUT027    1985
OUT013    1987
OUT046    1997
OUT010    1998
OUT049    1999
OUT045    2002
OUT035    2004
OUT017    2007
OUT018    2009
Name: Outlet_Establishment_Year, dtype: int64

In [56]:
# Filter data for high-size outlets and low fat/LF products
high_size_data = df[df['Outlet_Size'] == 'High']
low_fat_data = high_size_data[high_size_data['Item_Type'] == 'Low Fat']

if not low_fat_data.empty:
    # Find the outlet with the minimum stock for low fat/LF products
    min_stock_outlet = low_fat_data['Outlet_Identifier'][low_fat_data['Item_Outlet_Sales'].idxmin()]

    # Check if there are small-size outlets with similar stock values for low fat/LF products
    small_size_data = data[data['Outlet_Size'] == 'Small']
    similar_stock_outlets = small_size_data[small_size_data['Item_Outlet_Sales'] <= low_fat_data['Item_Outlet_Sales'].min()]

    # Display the results
    print("High-size outlet with the minimum stock for Low Fat/LF products:")
    print(min_stock_outlet)
    print("\nSmall-size outlets with similar stock values for Low Fat/LF products:")
    print(similar_stock_outlets[['Outlet_Identifier', 'Item_Outlet_Sales']])
else:
    print("No high-size outlets with low fat/LF products found.")

No high-size outlets with low fat/LF products found.

In [57]:
# Filter data for items with MRP > 200
high_mrp_data = df[df['Item_MRP'] > 200]

# Count the number of low fat/LF and regular fat/reg items
lf_count = high_mrp_data[high_mrp_data['Item_Fat_Content'].isin(['Low Fat', 'LF'])].shape[0]
reg_count = high_mrp_data[high_mrp_data['Item_Fat_Content'].isin(['Regular', 'reg'])].shape[0]

# Display the results
print("Count of Low Fat/LF items with MRP > 200:", lf_count)
print("Count of Regular Fat/Reg items with MRP > 200:", reg_count)

Count of Low Fat/LF items with MRP > 200: 911
Count of Regular Fat/Reg items with MRP > 200: 507

In [59]:
# Filter data for Tier 2 outlets
tier2_data = df[df['Outlet_Location_Type'] == 'Tier 2']

# Find the outlet(s) with the highest sales in Tier 2
highest_sales_tier2 = tier2_data[tier2_data['Item_Outlet_Sales'] == tier2_data['Item_Outlet_Sales'].max()]

# Get the sales value for comparison
tier2_sales_value = highest_sales_tier2['Item_Outlet_Sales'].values[0]

# Filter data for Tier 3 outlets with sales less than or equal to the Tier 2 outlet(s)
tier3_data = df[(df['Outlet_Location_Type'] == 'Tier 3') & (df['Item_Outlet_Sales'] <= tier2_sales_value)]

# Display the outlets with the highest sales in Tier 2 and similar outlets in Tier 3
print("Outlets with the highest sales in Tier 2:")
print(highest_sales_tier2[['Outlet_Identifier', 'Item_Outlet_Sales']])

print("\nSimilar outlets in Tier 3 locations:")
print(tier3_data[['Outlet_Identifier', 'Item_Outlet_Sales']])

Outlets with the highest sales in Tier 2:
     Outlet_Identifier  Item_Outlet_Sales
4961            OUT017          9664.7528

Similar outlets in Tier 3 locations:
     Outlet_Identifier  Item_Outlet_Sales
1               OUT018           443.4228
3               OUT010           732.3800
4               OUT013           994.7052
5               OUT018           556.6088
6               OUT013           343.5528
...                ...                ...
8512            OUT013          2479.4392
8515            OUT018          1571.2880
8516            OUT018           858.8820
8518            OUT013          2778.3834
8521            OUT018          1845.5976

[3341 rows x 2 columns]