<a href="https://colab.research.google.com/github/CODERdeeps/MLCDAC/blob/main/m1pp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/content/mergedcustomers_missing_values_GENDER.csv')

In [4]:
import matplotlib.pyplot as plt

In [5]:
df.head(2)

,ID,CHURNRISK,GENDER,STATUS,CHILDREN,ESTINCOME,HOMEOWNER,AGE,TOTALDOLLARVALUETRADED,TOTALUNITSTRADED,LARGESTSINGLETRANSACTION,SMALLESTSINGLETRANSACTION,PERCENTCHANGECALCULATION,DAYSSINCELASTLOGIN,DAYSSINCELASTTRADE,NETREALIZEDGAINS_YTD,NETREALIZEDLOSSES_YTD
0,1703,Medium,NaN,M,2,28766.9,N,47,6110.61,58,1527.6525,152.76525,8.70,2,13,0.000,152.76525
1,1704,Low,NaN,M,2,91272.2,Y,25,26992.70,13,13496.3500,1349.63500,3.25,4,10,1349.635,0.00000

In [6]:
df.shape

(2066, 17)

In [7]:
df.ndim

2

In [9]:
df.describe()

,ID,CHILDREN,ESTINCOME,AGE,TOTALDOLLARVALUETRADED,TOTALUNITSTRADED,LARGESTSINGLETRANSACTION,SMALLESTSINGLETRANSACTION,PERCENTCHANGECALCULATION,DAYSSINCELASTLOGIN,DAYSSINCELASTTRADE,NETREALIZEDGAINS_YTD,NETREALIZEDLOSSES_YTD
count,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000
mean,1032.500000,1.146176,51514.070465,42.802033,16141.207609,58.594385,7734.947030,773.494703,13.346854,2.903195,9.355276,364.559448,426.145109
std,596.547148,0.843105,30805.652721,14.919932,9920.982916,57.656443,5314.081336,531.408134,13.961391,1.498448,4.250351,536.820452,535.531833
min,0.000000,0.000000,96.330000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,516.250000,0.000000,21021.600000,30.250000,8090.810000,15.000000,2022.702500,202.270250,3.250000,2.000000,6.250000,0.000000,0.000000
50%,1032.500000,1.000000,55860.000000,46.000000,16141.610000,39.000000,8070.805000,807.080500,8.250000,3.000000,9.000000,0.000000,143.014250
75%,1548.750000,2.000000,78000.000000,54.000000,22992.300000,87.000000,11496.150000,1149.615000,20.000000,4.000000,11.000000,807.080500,809.330875
max,2065.000000,2.000000,120000.000000,77.000000,59755.980000,332.000000,29877.990000,2987.799000,83.000000,5.000000,20.000000,2987.799000,2950.295000

In [10]:
df.duplicated().sum()

0

In [25]:
x = df.iloc[:,-15:].values ## for having independent variable

In [26]:
print(x)

[[nan 'M' 2 ... 13 0.0 152.76525]
 [nan 'M' 2 ... 10 1349.635 0.0]
 [nan 'S' 0 ... 5 1123.6125 0.0]
 ...
 ['F' 'S' 0 ... 11 0.0 82.50825]
 ['F' 'M' 2 ... 5 930.093 0.0]
 ['M' 'M' 2 ... 8 1041.604 0.0]]

In [27]:
y = df.iloc[:,1].values

In [28]:
print(y)

['Medium' 'Low' 'Low' ... 'Medium' 'Low' 'Low']

In [33]:
!pip install -U scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.1.0)

In [35]:
from sklearn.impute import SimpleImputer

In [37]:
imputer= SimpleImputer(missing_values ='NaN', strategy='mean')